# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.mo
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv
venv/
ENV/
.env.*

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints

# Node
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Others
uploads/
